.panelCard .card {
  margin: 0px;
  box-shadow: 0 0 0 rgba(0,0,0,.12), 0 0 0 rgba(0,0,0,.24);
}

.panelImage img {
  width: 100%;
  opacity: 0.7;
}

.panelListBlock .list-block {
  margin: 0 0;
}

.backGroundImage{
	background-image: url(../lib/framework7/img/background.jpg);
  background-size: cover;
}

.ai-logo{
  text-align: center;
}

.panelWords {
  	position: relative;
  	left: 7%;
}

.buttons-row{
	position: relative;
  	top: 20%;
}

.transparentbar {
  background: rgba(247, 247, 248, 0.55) /* 0.55 = opacity */
}

.transparentbar1 {
  background: rgba(247, 247, 248, 0) /* 0.55 = opacity */
}

.transparentbar2 {
  background: rgba(247, 247, 248, 0.7) /* 0.55 = opacity */
}

.buttons-row {
  margin-top: 45%;
}

.ai-logo {
  margin-top: 20%;
}

.navbar {
  height: 50px;
}