

.pages .page .page-content{
  padding-top: 10%;
}

.backgroundcolor{
  background-color: white;
}
.content-block{
  padding: 0;
}

.picture{
  text-align: center;
  height: 400px;
}

.size{
  width: 100%;
}

.photo-editor{
  	position: relative;
  	top: 1.5%;
    left: 83%;
}

