.myCanvas {
    z-index: 20;
}

.imgShow {
    z-index: 1;
    max-width: 100%;
    max-height: 100%;
}

.sendButton {
    bottom: 10%;
    z-index: 40;
    width: 20%;
}

.panelCard .card {
    margin: 0;
    box-shadow: 0 0 0 rgba(0, 0, 0, .12), 0 0 0 rgba(0, 0, 0, .24);
}

.panelImage img {
    width: 100%;
}

.panelListBlock .list-block {
    margin: 0 0;
}

.backGroundImage {
    /*	background-image: url(../lib/framework7/img/background.jpg);*/
    background-size: cover;
    background-color: /*#f5f5f5*/#eaeaea;
}

.navbar {
    background-color: #14b9c8;
}

.twoButtons {
    width: 85%;
    bottom: 15%;
}

.button {
    background-color: #fafafa;
}

.closeIcon {
    position: fixed !important;
    right: 6%;
    top: 4%;
    z-index: 40;
    color: rgba(255, 255, 255, 0.6) !important;
    font-size: 30px;
}

.hCenter {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}

/* .vCenter {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
} */

.ai-logo {
    top: 20%;
}

.ai-text {
    top: 38%;
}

.panelWords {
    position: relative;
    left: 7%;
}

.camera-button {
    position: absolute;
    left: 40px;
    width: 72px;
    height: 72px;
    box-shadow: 0 6px 20px rgba(0,0,0,.19), 0 3px 6px rgba(0,0,0,.23);
}

.gallery-button {
    position: absolute;
    right: 40px;
    width: 72px;
    height: 72px;
    box-shadow: 0 6px 20px rgba(0,0,0,.19), 0 3px 6px rgba(0,0,0,.23);
}

a.color-14b9c8 {
    background-color: #14b9c8;
}